# -*- mode: conf -*-
# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8

[*.mk]
indent_style = tab
indent_size = 8

[*.json]
insert_final_newline = false

[*.{md,markdown}]
trim_trailing_whitespace = false
